.header{
	height:80px;
	margin-top:15px;
	margin-left: 50px;
}

.body{
	font-family: Georgia;
	font-size: 13px;
	font-color:#222222;
}
.nav{
	height:40px;
	background-color:#3355aa;
	font-size:15px;
	
}

.nav ul{
	padding-top:5px;
}

.nav li{
	display:inline;
	padding-left: 10px;
	
}

.nav a{
	color:#ffffff;	
	margin-top:15px;
	font-style: italic;
	border-right: 0.5px solid;
	border-spacing: 10px;
	padding-right:10px;
}

.form{
	float: right;
}

.button{
	background-color: #3355aa;
	float: right;
}

.border{
	border-style: outset;
	border-width: 1px;
	margin-top:35px;
	margin-left: 10px;
	padding: 10px;
	border-radius:8px;
}

.border p{
	font-size: 14px;	
	font-style: italic;
}

.heading{
	color:#3355aa;
	font-size: 13px;
	margin-top: 5px;
	padding: 10px;
	font-weight: bold;
}

.hr{
	 border: 2px solid yellow;
}
.font{
	font-size: 10px;
}

.footer{
		background-color: #FAEBD7;
		margin-top:45px;
}

.footerHeading{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 28px;
}

.box{
	background-color: white;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	align-content: center;
	color:#3355aa;

}
.greybox{
	background-color: #D3D3D3;
	height: 250px;
	white-space: 5px;
}

.space{
	padding: 75px;
}

.end{
	background-color: #333333;
	padding-top:15px;
}

.end li{
	display:inline;
	padding: 10px;
	margin-top:15px;
	font-size: 15px;

}
.end a{
	border-right: 0.5px solid;
	padding-right: 10px;
	color:gray;
}

.viewmore{
	color:blue;
}

.end hr{
	border-color: #3d3d3d;
}
.right{
	float: right;
}



.micro{
	font-size:11px;
	padding-bottom: 25px;
	color:#222222;
}

.clearfix{
	clear: both;
}